$big-font-size: 3vw;
$small-font-size: 1.25vw;
$border-radius: 0;

.App {
  text-align: center;
}

.loginScreenWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  pointer-events: none;
  font-size: 15vw;
  margin: 2.5vw;
}

.loginInput {
  margin: 0 0 0 1.5vw;
  padding: 1.5vw;
  font-size: $big-font-size;
  border-radius: $border-radius;
  outline: 0;
}

.loginButton {
  cursor: pointer;
  font-size: 6vw;
  margin-left: 2vw;
}

.avatar {
  height: 4vw;
  max-width: 4vw;
}

.loggedInWrapper {
  width: calc(100% - 10vw);
  margin: 2.5vw 5vw;
}

.loginWrapper {
  margin-top: 2vw;
  display: flex;
}

.subtitle {
  font-size: $small-font-size;
}
h2 {
  margin-top: 0;
  font-size: $big-font-size;
  text-align: left;
}

.wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border-radius: $border-radius;
  border: 1px solid #999;
  font-size: $small-font-size;
  height: calc(94vh - 12vw);
  box-shadow: 5px 5px 5px 3px #ddd;
}

.column {
  overflow: auto;
  border: 1px solid #999;
}

#issues tr:hover:not(:first-child) {
  background-color: #eee;
}

a:link {
  color: #222;
}

a:hover {
  text-decoration: none;
}

#repos tr:hover {
  background-color: #eee;
  cursor: pointer;
}

tr {
  height: 4vw;
  padding: 2vw;
}

#repos td {
  padding: 2vh;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  cursor: pointer;
}

@keyframes logo-beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }

  .column {
    border: 1px solid #999;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-beat infinite 2s ease-out;
  }
}
